In [6]:
# list 
 
list1 =[1,3,5,6,"hello",'car',"a",12.4,13.3]

In [7]:
list1

[1, 3, 5, 6, 'hello', 'car', 'a', 12.4, 13.3]

In [8]:
list1[4]

'hello'

In [20]:
list1[4]="hi"

In [11]:
list1

[1, 3, 5, 6, 'hi', 'car', 'a', 12.4, 13.3]

In [12]:
#list slicing

list1[3:7]

[6, 'hi', 'car', 'a']

In [13]:
list1

[1, 3, 5, 6, 'hi', 'car', 'a', 12.4, 13.3]

In [14]:
# list reverse
list1[::-1]

[13.3, 12.4, 'a', 'car', 'hi', 6, 5, 3, 1]

In [15]:
# tuple

tup=(1, 3, 5, 6, 'hi', 'car', 'a', 12.4, 13.3)

In [17]:
tup

(1, 3, 5, 6, 'hi', 'car', 'a', 12.4, 13.3)

In [18]:
tup(5)="truck
'''elements in tuple cannot be re-assigned'''

SyntaxError: can't assign to function call (<ipython-input-18-533dcb212d51>, line 1)

In [21]:
'''convert tuple into list'''

list(tup)

[1, 3, 5, 6, 'hi', 'car', 'a', 12.4, 13.3]

In [22]:
new=list(tup)

In [23]:
new[4]="hello"

In [24]:
new

[1, 3, 5, 6, 'hello', 'car', 'a', 12.4, 13.3]

In [25]:
'''convert list into tuple'''
newtup= tuple(list1)

In [33]:
newtup

(1, 3, 5, 6, 'hi', 'car', 'a', 12.4, 13.3)

In [52]:
# set
'''sets only store unique elements'''

myset= {1,2,2,22,3,3,3,333,3,3,4,4,4,4,4,5,55,555,6,6,6,6,6,6}

In [53]:
myset

{1, 2, 3, 4, 5, 6, 22, 55, 333, 555}

In [37]:
#range
'''range(startpoint,endpoint,step)'''

rng= range(1,30,3)

In [54]:
#dict
'''dictionary'''

dit={'sname':'raman'}

In [55]:
dit['sname']

'raman'

In [57]:
dit['age']= 21

In [58]:
dit

{'sname': 'raman', 'age': 21}

In [59]:
dit['age']

21